force-app/main/default/flows/Add_to_Job_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Candidate_Applicate_Record</name>
        <label>Add Candidate Applicate Record</label>
        <locationX>813</locationX>
        <locationY>239</locationY>
        <assignmentItems>
            <assignToReference>SingleApplicationVariable.Candidate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Candidate_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleApplicationVariable.Job_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contextId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleApplicationVariable.Current_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Candidate_Record.PersonTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleApplicationVariable.Current_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Candidate_Record.Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleApplicationVariable.Education__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Candidate_Record.Education__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleApplicationVariable.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleApplicationVariable.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Candidate_Record.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToCollection</name>
        <label>AddToCollection</label>
        <locationX>596</locationX>
        <locationY>239</locationY>
        <assignmentItems>
            <assignToReference>ApplicantsToAdd</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleApplicationVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_Candidates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InitalizeCollection</name>
        <label>InitalizeCollection</label>
        <locationX>379</locationX>
        <locationY>64</locationY>
        <assignmentItems>
            <assignToReference>ApplicantsToAdd</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_Candidates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InitializeCollection</name>
        <label>InitializeCollection</label>
        <locationX>404</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>ApplicantsToAdd</assignToReference>
            <operator>RemoveAll</operator>
        </assignmentItems>
        <connector>
            <targetReference>Applicants_Added</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Add to Job Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add to Job Order</label>
    <loops>
        <name>Loop_Through_Selected_Candidates</name>
        <label>Loop Through Selected Candidates</label>
        <locationX>588</locationX>
        <locationY>66</locationY>
        <collectionReference>selectedIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Candidate_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>showcollectionIds</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>AddApplicantRecords</name>
        <label>AddApplicantRecords</label>
        <locationX>303</locationX>
        <locationY>341</locationY>
        <connector>
            <targetReference>InitializeCollection</targetReference>
        </connector>
        <inputReference>ApplicantsToAdd</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Candidate_Record</name>
        <label>Get Candidate Record</label>
        <locationX>812</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Candidate_Applicate_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Selected_Candidates</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Applicants_Added</name>
        <label>Applicants Added</label>
        <locationX>634</locationX>
        <locationY>471</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ApplicantsAddedText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Applicants Added&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>showcollectionIds</name>
        <label>showcollectionIds</label>
        <locationX>305</locationX>
        <locationY>201</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AddApplicantRecords</targetReference>
        </connector>
        <fields>
            <name>text111</name>
            <fieldText>&lt;p&gt;Adding applications to Job...&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>5</locationX>
        <locationY>28</locationY>
        <connector>
            <targetReference>InitalizeCollection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApplicantsToAdd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Applicants__c</objectType>
    </variables>
    <variables>
        <name>contextId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleApplicationVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Applicants__c</objectType>
    </variables>
</Flow>
