force-app/main/default/flows/Job_Application_Submit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>DefaultAccountId_for_Testing</name>
        <label>DefaultAccountId for Testing</label>
        <locationX>322</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>getAccountRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue> 0011D00000sNGD5QAO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAccountRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Contact</name>
        <label>Check For Contact</label>
        <locationX>409</locationX>
        <locationY>220</locationY>
        <defaultConnector>
            <targetReference>This_is_not_a_Customer_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Internal User - not ContactId</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContactRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccountRecord</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_this_is_a_Person_Account</name>
        <label>Check if this is a Person Account</label>
        <locationX>808</locationX>
        <locationY>224</locationY>
        <defaultConnector>
            <targetReference>No_a_person_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Person Account</defaultConnectorLabel>
        <rules>
            <name>Person_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountRecord.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Job_application_Information</targetReference>
            </connector>
            <label>Person account</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Education</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Education__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SkillsPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Skills__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Job Application Submit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job Application Submit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Job_Apply</name>
        <label>Create Job Apply</label>
        <locationX>448</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Job_application_has_been_created</targetReference>
        </connector>
        <inputAssignments>
            <field>Candidate__c</field>
            <value>
                <elementReference>getAccountRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Location__c</field>
            <value>
                <elementReference>Current_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Title__c</field>
            <value>
                <elementReference>Current_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Education__c</field>
            <value>
                <elementReference>Education1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Order__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Job_Applicants__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getAccountRecord</name>
        <label>getAccountRecord</label>
        <locationX>618</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_this_is_a_Person_Account</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContactRecord.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0011D00000sNGD5QAO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContactRecord</name>
        <label>GetContactRecord</label>
        <locationX>417</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Enter_Job_application_Information</name>
        <label>Enter Job application Information</label>
        <locationX>818</locationX>
        <locationY>395</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Job_Apply</targetReference>
        </connector>
        <fields>
            <name>Skills</name>
            <choiceReferences>SkillsPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Skills</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Current_Location</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getAccountRecord.Location__c</elementReference>
            </defaultValue>
            <fieldText>Current Location (from Profile)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Education1</name>
            <choiceReferences>Education</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Education</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Current_Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetContactRecord.Title</elementReference>
            </defaultValue>
            <fieldText>Current Title (from Profile)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Job_application_has_been_created</name>
        <label>Job application has been created</label>
        <locationX>258</locationX>
        <locationY>400</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>JobapplicationCreated</name>
            <fieldText>&lt;p&gt;Job Application {!JobApplicationToCreate.Name} has been created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_a_person_Account</name>
        <label>No a person Account</label>
        <locationX>746</locationX>
        <locationY>71</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PersonaccountSupported</name>
            <fieldText>&lt;p&gt;Only Person Accounts are supported currently. Feel free to change the flow....&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>This_is_not_a_Customer_User</name>
        <label>This is not a Customer User</label>
        <locationX>167</locationX>
        <locationY>225</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DefaultAccountId_for_Testing</targetReference>
        </connector>
        <fields>
            <name>NotCustomerText</name>
            <fieldText>&lt;p&gt;No ContactId. This is an internal user, so can not create a Job Apply.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>49</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>GetContactRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>JobApplicationToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Applicants__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
