force-app/main/default/flows/Place_Candidate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <dynamicChoiceSets>
        <name>SelectCandidateChoice</name>
        <dataType>String</dataType>
        <displayField>Candiate_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Job_Applicants__c</object>
        <outputAssignments>
            <assignToReference>SelectedCandidate</assignToReference>
            <field>Candidate__c</field>
        </outputAssignments>
        <valueField>Candidate__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Place Candidate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Place Candidate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Job_Order</name>
        <label>Update Job Order</label>
        <locationX>870</locationX>
        <locationY>67</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Staffed_Candidate__c</field>
            <value>
                <elementReference>SelectedCandidate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Job_Order__c</object>
    </recordUpdates>
    <screens>
        <name>Select_Candidate_to_Place</name>
        <label>Select Candidate to Place</label>
        <locationX>628</locationX>
        <locationY>61</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Job_Order</targetReference>
        </connector>
        <fields>
            <name>Select_Candidate_to_Place3</name>
            <choiceReferences>SelectCandidateChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Candidate to Place</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>43</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Select_Candidate_to_Place</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedCandidate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
